header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);

  /* 위에 고정시키고 z축을 줘서 보이게 하기 */
  position: fixed;
  z-index: 1;
}

nav {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.menu {
  border-radius: var(--borderRadius--medium);
  padding: var(--padding--button);
}

.menu:hover {
  /* root 사용 var */
  background-color: var(--gray100);
}

.bar {
  display: none;
  font-size: 20px;
}

.a {
  color: #ff5160;
}

/* 1024 이하면 이거 적용 */
@media screen and (max-width: 1024px) {
  body {
    /* max-width 수정 */
    nav {
      max-width: 628px;
    }

    /* 다시 보이게함 */
    .bar {
      display: block;
    }
    /* 안보이게 함 */
    .menu_container {
      display: none;
    }
  }
}
/* 모바일 버전 */
@media screen and (max-width: 768px) {
  body {
    /* max-width 수정 */
    nav {
      max-width: 400px;
    }
  }
}
