.mission {
  width: 100vw;
  padding-top: 50px;
}

.mission--container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mission--container--textLayout > h6 {
  font-size: 10px;
  color: var(--gray500);
}
.mission--container--textLayout > h2 {
  font-size: var(--font--size--large);
  margin-top: 10px;
}
.mission--container--cardLayout {
  width: 100%;
  display: flex;
  gap: 10px;
}

.mission--container--cardLayout--card {
  position: relative;
  width: 100%;
  height: 480px;
  border-radius: 20px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission--container--cardLayout--card > .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(58, 0, 0, 0.4), rgba(58, 0, 0, 0.4));
}
.mission--container--cardLayout--card--contents {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 10px;
  bottom: 80px;
}

.mission--container--cardLayout--card--contents > h6 {
  font-size: 20px;
}
.mission--container--cardLayout--card--contents > h4 {
  font-size: var(--font--size--large);
}

.mission--container--cardLayout--card--contents > .button {
  padding: 14px 16px;
  background-color: white;
  color: var(--gray500);
  border-radius: 30px;
}

.mission--container--cardLayout--card:nth-child(1) {
  background-image: url(../image/zzz.webp);
}

.mission--container--cardLayout--card:nth-child(2) {
  background-image: url(../image/zz.webp);
}
/* 모바일 버전 */
@media screen and (max-width: 768px) {
  body {
    .mission > .mission--container {
      max-width: 410px;
    }
    .mission--container--cardLayout {
      flex-direction: column;
    }
    .mission--container--cardLayout--card--contents > h6 {
      font-size: 20px;
    }
  }
}
