.second {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 30px;
}

.second > .text--box {
  width: 100%;
  max-width: 1024px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  color: var(--gray500);
}

.second--highlight {
  color: black;
  font-size: 38px;
}

/* 모바일 버전 */
@media screen and (max-width: 768px) {
  body {
    .second > .text--box {
      max-width: 400px;
      font-size: 24px;
    }
    .second--highlight {
      font-size: 27px;
    }
  }
}
