.container{
    display:flex;
    justify-content: center;
    gap: 20px;

}

.coffee{
    /* relative로 설정해서 mask 태그를 static->absolute로 변경 */
    position: relative;
    width:280px;
    height:450px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f5f5;
   
    gap: 30px;
    padding: 32px;
}

/* coffee 에다가 hover 했을 때 mask 값을 변경시켜줘 */
.coffee:hover .mask{
    opacity:0.8;

}
.image{
    width: 100%;
    transition: all 0.3s;
}

.image>img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.image:hover{
    /* 그림 크기가 커짐 */
    transform:scale(1.05);
}

.button{
    background-color: #234c84;
    color: white;
    font-weight: 800;
    padding:6px 8px;
}

.mask{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0px;
    left: 0px;

    /* 부모가 커피 이므로 커피 크기만큼 크기를 가짐 */
    width: 100%;
    height: 100%;
    font-size: 24px;
    background-color: #f5f5f5;

    filter: brightness(0.97);
    /* 투명도 */
    opacity: 0;
}
