.layout {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment {
  color: #1181ff;
}

.register {
  text-align: center;
  color: #1181ff;
  width: 80px;
  border-radius: 8px;
  border: 1px solid #1181ff;

  padding-top: 5px;
  padding-bottom: 5px;
}
/* fruit 안에 모든 것들을 바꿔줌 */
.fruit {
  font-size: 30px;
}

/* fruit 안에 apple 만 바꿔줌*/
.fruit > .apple {
  color: red;
}

.fruit > .apple {
  color: yellow;
}

.fruit > .apple {
  color: orange;
}
