header {
  width: 100vw;
  height: 61px;
  /* 위에 위치시키기  여기선 의미없음????
  top: 0;
  z-index: 1;
  */

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
}

nav {
  width: 100%;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  text-decoration: none;
  display: flex;
  justify-content: flex;
  align-items: center;
}

nav > a > span {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.hamberger {
  /* 안보이게 함 */
  display: none;
  font-size: 30px;
  padding-right: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 55px;

  color: black;
  font-size: 15px;
  transition: all 0.5s;
}

.menu:hover {
  background-color: gray;
  color: white;
}

/* 1024 이하면 이거 적용 */
@media screen and (max-width: 1024px) {
  body {
    /* max-width 수정 */
    nav {
      max-width: 600px;
    }

    /* 다시 보이게함 */
    .hamberger {
      display: block;
    }
    /* 안보이게 함 */
    .container {
      display: none;
    }
  }
}
